<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My exchange{% endblock %}</title>
</head>
<body>
    <pagename>
        {% block pagename %}
        <p> заголовки страниц </p>
        {% endblock %}
    </pagename>

    <menu>
        {% block menu %}
        <p><a href="http://127.0.0.1:8000/platform/">Главная</a></p>
        <p><a href="http://127.0.0.1:8000/platform/exchange/">Биржа</a></p>
        <p><a href="http://127.0.0.1:8000/platform/cart/">Заявки</a></p>
        {% endblock %}
    </menu>

    <content>
        {% block content %}

        {% endblock %}
    </content>

</body>
</html>